<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
		</layout>
	</appender>

	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="D:\\logs\\Testweb_"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<datePattern value="yyyyMMdd'.log'"/>
		<staticLogFileName value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
		</layout>
	</appender>

	<root>
		<!--<level value="DEBUG" />-->
		<level value="ALL" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingLogFileAppender" />
	</root>
</log4net>
<!--ALL,DEBUG,INFO,WARN,ERROR,FATAL,OFF-->